#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Copperplate;
}

#submit-button {
  border: none;
  border-radius: 50px;
}

form * {
  font-size: large;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-item {
  background-color: rgb(77, 237, 255);
  box-shadow: rgba(0, 205, 241, 1);
  width: 70%;
  height: 100px;
  border: 2px solid black;
  margin: 2px;
}
