#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Copperplate;
}

#submit-button {
  border: none;
  border-radius: 50px;
}

form * {
  font-size: large;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-item {
  box-shadow: rgba(0, 205, 241, 1);
  width: 70%;
  border: 2px solid black;
}
