#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Copperplate;
}

#submit-button {
  border: none;
  border-radius: 50px;
}

form * {
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 100px;
}

.weather-item {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(77, 237, 255);
  box-shadow: 10px 5px 5px rgba(58, 241, 251, 0.5);
  border-radius: 20px;
  height: auto;
  border: 1px solid white;
  width: 30%;
}

.weather-item:hover {
  box-shadow: 10px 5px 5px rgba(236, 240, 2, 0.5);
  /* transform: scale(1.5); */
  cursor: pointer;
}

.img-container {
  width: 100%;
}
